/*-- Global Styles --*/
:root {
  --prime: #222;
  --text: #EEE;
  --rev-text: #4d4d4d;
  --accent: #67374E;
  --accent-dk:#422432;
  --bg: #4d4d4d;
  --shadow-dk: #0d0d0d;
}
/*-- Document Styles --*/
body { /*-- Sets body defaults --*/
  padding: .25rem;
  font-size: 16px;
  color: var(--text);
  background-color: var(--prime);
}

.page-grid {
  width: 85%;
  margin: auto;
  display: grid;
  padding: 1em;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.card {
  background-color: var(--bg);
  color: var(--text);
  text-decoration: none;
  padding: .5em;
  transition: all .5s ease;
  box-shadow: 1px 1px 4px rgba(255,255,255,0.3),
              -1px 0px 4px rgba(255,255,255,0.3);
}
.card:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 3px 3px 24px rgba(255,255,255,0.3),
              -3px 0px 24px rgba(255,255,255,0.3);
}
.thumb {
  border-radius: 4px 4px 0 0;
  padding-bottom: 56%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
.card:nth-child(1) .thumb{background-image:url('https://picsum.photos/400/225?image=0')}
.card:nth-child(2) .thumb{background-image:url('https://picsum.photos/400/225?image=10')}
.card:nth-child(3) .thumb{background-image:url('https://picsum.photos/400/225?image=20')}
.card:nth-child(4) .thumb{background-image:url('https://picsum.photos/400/225?image=30')}
.card:nth-child(5) .thumb{background-image:url('https://picsum.photos/400/225?image=40')}
.card:nth-child(6) .thumb{background-image:url('https://picsum.photos/400/225?image=50')}
.card:nth-child(7) .thumb{background-image:url('https://picsum.photos/400/225?image=60')}
.card:nth-child(8) .thumb{background-image:url('https://picsum.photos/400/225?image=70')}
.card:nth-child(9) .thumb{background-image:url('https://picsum.photos/400/225?image=80')}
.card:nth-child(10) .thumb{background-image:url('https://picsum.photos/400/225?image=90')}
.card:nth-child(11) .thumb{background-image:url('https://picsum.photos/400/225?image=100')}
.card:nth-child(12) .thumb{background-image:url('https://picsum.photos/400/225?image=59')}

.navbar {
  margin-top: -.25rem; /*-- uses negative margin to pull menu to top --*/
  padding-bottom: .5rem; /*-- creates a little space below nav --*/
  background-color: var(--prime);
  display: flex; /*-- creates a flex container --*/
  flex-direction: column; /*-- direction is for MOBILE screen sizes --*/
  justify-content: space-around;
  align-items: stretch; /*-- sets menu items to fill space vertically --*/
  align-content: center; /*-- vertically aligns menu items to center --*/
  position: fixed; /*-- makes the navbar stay at the top, even when scrolling--*/
  z-index: 69; /*-- makes navbar always sit on top--*/
  width: 100%; /*-- makes navbar occupy full width of the page --*/
}

a.nav-item {
  position: relative; /*-- overcomes negative margin in above rule --*/
  top: 4px; /*-- tweaks vertical position --*/
  text-align: center; /*-- center-aligns all text inside their boxes --*/
  padding: .75em; /*-- provides padding inside menu items --*/
  margin: auto 0; /*-- centers menu text vertically --*/
  text-decoration: none;
  font-size: 115%;
  color: var(--text);
  background-color: var(--accent);
}

.nav-item.trigram {
  display: none; /*-- hides trigram (hamburger menu button) by default --*/
  text-decoration: none; /*-- removes underline --*/
  font-size: 2rem; /*-- makes much larger than normal text--*/
}

a.nav-item:hover, a.nav-item:active {
  text-decoration: none;
  background-color: var(--accent-dk);
}

/*-- Mobile Nav Queries --*/
/*--At screens BELOW 768px, hides nav menu items and displays trigram --*/
@media screen and (max-width: 767px) {
  .navbar a, .navbar span {display: none;}
  .navbar a.trigram {display:inherit; position:absolute; right:4%; font-size:2em; padding: .25em; background:var(--prime);}
}
/*-- At screens BELOW 768px,  rules for mobile nav--*/
@media screen and (max-width: 767px) {
  .navbar.responsive {align-items: center;} /*-- vertically centers--*/
  .navbar.responsive a, .navbar.responsive span {display:inherit;} /*-- makes trigram visible --*/
  .navbar.responsive a:first-child {margin-top:1em;} /*-- adds space above first item --*/
  .navbar.responsive a:not(:last-child) {display:inherit; padding-top:1em;} /*-- makes items visible (but not the trigram) and adds space above them--*/
  .navbar.responsive a.more {margin-bottom: 1em;} /*-- adds margin below bottom item --*/
  .navbar.responsive a.trigram {visibility:hidden; transition:none;} /*-- hides trigram when open --*/
  .navbar.responsive a.trigram:after {content:'\000D7'; visibility:visible; text-indent: -.5em;} /*-- replaces trigram sign with x-sign on mobile. --*/
}
/*-- At screens 768px and ABOVE, set normal menu defaults --*/
@media screen and (min-width: 768px) {
  .navbar {display: flex; flex-direction: row; justify-content: space-around;}
}

/*-- Styles for slideshow --*/
.slideshow {
  background-color: var(--bg);
  padding: 1em;
}
.slideshow-wrapper {
  position: relative; /*-- this allows children to be position absolutely --*/
  margin: auto; /*-- simple centering method--*/
  margin-top: 2em; /*-- adds space above--*/
  max-width: 1440px; /*-- contrains slideshow on largest screens --*/
}
.slideshow-wrapper img {
  width: 100%; /*-- makes slideshow responsive in size --*/
}
.prev, .next {
  cursor: pointer; /*-- changes hover cursor to the hand --*/
  position: absolute; /*-- positions arrows absolutely--*/
  top: 50%; /*-- positions arrows half the height of parent from top --*/
  width: auto; /*-- matches width of parent --*/
  padding: 16px; /*-- adds a little bit of space--*/
  margin-top: -22px; /*-- adjusts position by height of arrows --*/
  color: white; /*-- sets color for contrast --*/
  font-weight: bold; /*-- selects heavier font --*/
  font-size: 18px; /*-- sets arrow font size --*/
  transition: 0.6s ease; /*-- sets transition speed for arrow hover--*/
  border-radius: 0 3px 3px 0; /*-- slightly rounds inside borders --*/
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; /*-- prevents users from selecting buttons --*/
}
.next {
  right: 0; /*-- positions next arrow hard right --*/
  border-radius: 3px 0 0 3px; /*-- rounds the outside borders --*/
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8); /*-- gives a background for contrast on hover --*/
}
.text-center {
  text-align: center; /*-- aligns indicators center --*/
}
.captiontext {
  background: rgba(0,0,0,0.4); /*-- transparent black background --*/
  color: #f2f2f2; /*-- sets color to almost white --*/
  font-size: 22px; /*-- sets font size --*/
  padding: 8px 12px; /*-- sets caption padding --*/
  position: absolute; /*-- positions caption text absolutely--*/
  bottom: 8px; /*-- sets position 8px from bottom --*/
  width: 100%; /*-- sets width equal to container width --*/
  text-align: center; /*-- aligns text center --*/
}
.numberof {
  color: #f2f2f2; /*-- sets color to almost white --*/
  font-size: 12px; /*-- sets font size --*/
  padding: 8px 12px; /*-- sets numberof padding --*/
  position: absolute; /*-- positions numberof text absolutely--*/
  top: 0; /*-- sets position hard to the top--*/
}
.indicator {
  cursor:pointer; /*-- changes hover cursor to the hand --*/
  height: auto; /*-- sets height of pics --*/
  width: 24%; /*-- sets width of pics --*/
  margin: 0 2px; /*-- adds margin between pics --*/
  background-color: #bbb; /*-- sets background color to light gray --*/
  display: inline-block; /*-- displays in a horizontal line --*/
  transition: all 250ms ease-in-out; /*-- allows opacity change to take time --*/
  opacity: .5;
}
.indicator img {
  width: 100% !important; /*-- small images fill available space --*/
}
.active, .indicator:hover {
  opacity: 1; /*-- makes fully visible when hovered  --*/
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade; /*-- webkit prefix  --*/
  -webkit-animation-duration: 1.5s; /*-- webkit prefix --*/
  animation-name: fade; /*-- defines which animation to use --*/
  animation-duration: 1.5s; /*-- sets the duration --*/
}
@-webkit-keyframes fade { /*-- webkit prefix --*/
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes fade { /*-- sets "fade" animation properties --*/
  from {opacity: .4} /*-- sets start of animation --*/
  to {opacity: 1} /*-- sets end of animation --*/
}
/* On smaller screens, hides slideshow */
@media only screen and (max-width: 767px) {
  .slideshow {display: none;}
}

/*-- Modal Styles --*/
/* The Modal (background) */
.modal {
   display: none;/*-- hidden by default --*/
   position: fixed; /*-- doesn't move on the screen --*/
   z-index: 420; /*-- sets higher than anything else so modal is in the very front --*/
   left: 0; /*-- positions at zero pixels from the left --*/
   top: 0; /*-- positions at zero pixels from the top --*/
   width: 100%; /*-- fills the space --*/
   height: 100%; /*-- fills the space --*/
   overflow: auto; /*-- handles overflow as normal. --*/
   background-color: rgba(10, 10, 10, .4); /*--slightly transparent--*/
}
.modal-content {
   background-color: var(--bg);
   color: var(--text);
   margin: 1rem auto;
   padding: 1em;
   width: 92%;
   border-radius: 4px;
   animation: fadein .3s ease-in-out; /*-- sets animation properties: name, duration, easing --*/
}
@keyframes fadein {
  from{transform:scale(.1);} /*-- modal grows from very small to full size--*/
}
.close {
   color: var(--text);
   font-size: 2.5em;
   font-weight: bold;
   position: absolute; /*-- always at the top right of the modal --*/
   top: 5px;
   right: 4.25%;
   transition: all .2s ease-in;
   text-shadow: 2px 2px 5px var(--shadow-dk),
               -2px -2px 5px var(--shadow-dk),
               2px -2px 5px var(--shadow-dk),
               -2px 2px 5px var(--shadow-dk);
}
.close:hover,
.close:focus {
   color: var(--accent);
   text-decoration: none;
   cursor: pointer;
}
.modal-body {
  display: grid;
  grid-template-columns: 1fr; /*-- default modal grid (for mobile screens)--*/
  grid-gap: 2em;
}
.eg-text {
  align-self: center;
}
.eg-text h3 {
  margin-top: 0;
  padding-top: 0;
}
.modal-body img {
  margin-bottom: 1.5em;
  width: 100%;
  height: auto;
}
@media screen and (min-width: 1280px) { /*-- better modal display on largest screens --*/
  .modal-body {grid-template-columns: 7fr 5fr;}

}

/*-- Footer Styles --*/
footer {
  background-color: var(--prime);
  padding: .25rem;
  color: var(--rev-text);
  text-align: center;
}
footer a {
  color: var(--rev-text);
}
footer a:hover {
  color: var(--rev-accent);
}
